<label class="w-full h-full">
  <input type="checkbox" class="peer hidden" data-flashcard-toggle />
  <div
    class="relative transition-[rotate] duration-500 peer-checked:[rotate:x_180deg] [perspective:1000px] [transform-style:preserve-3d] w-full h-full min-h-[10em] min-w-[25ch]"
    data-flashcard
  >
    <div
      class="grid place-items-center overflow-auto hyphens-auto card cursor-pointer absolute inset-0 [backface-visibility:hidden]"
      data-term
      hx-disable="true"
    >
      {{ card.term|safe }}
    </div>
    <div
      class="grid place-items-center overflow-auto hyphens-auto card cursor-pointer absolute inset-0 [backface-visibility:hidden] [rotate:x_180deg]"
      data-definition
      hx-disable="true"
    >
      {{ card.definition|safe }}
    </div>
  </div>
</label>
