<main hx-boost="true" class="grid p-4 gap-4">
	<form
		action="/search"
		method="POST"
		hx-post="/search"
		hx-target="#topic-list"
		hx-trigger="keyup changed delay:300ms from:find input, submit"
		hx-boost="false"
		class="w-full grid place-items-center place-content-center"
	>
		<label for="search" class="flex justify-center gap-2 w-full">
			<span class="material-symbols-outlined">search</span>
			<span class="grow">Search</span>
		</label>
		<div class="flex gap-4 items-center justify-center">
			<input
				id="search"
				type="search"
				name="q"
				placeholder="Topic"
				class="border-purple-400 border-2 rounded-sm focus-within:border-slate-200 transition-colors p-2 bg-inherit"
			/>
			<noscript><button type="submit" class="btn">Go</button></noscript>
		</div>
	</form>
	<div id="topic-list" class="auto-grid-[25ch] gap-4">
		{% include "topic_list.html" %}
	</div>
</main>
