<main class="flex grow" id="study-page">
  <div
    hidden
    hx-trigger="keyup[key==' '] from:body"
    hx-on::trigger="this.parentElement.querySelector('[data-flashcard-toggle]').checked ^= true"
  ></div>
  <form
    action="/study"
    method="GET"
    class="flex justify-content-center flex-col gap-4 grow p-4"
    hx-target="find div"
    hx-boost="true"
    hx-swap="outerHTML"
    hx-select="#study-flashcard"
    hx-trigger="keyup[key=='Enter'] from:body, submit"
  >
    <input type="hidden" name="name" value="{{ name }}" />
    <div class="flex flex-col gap-4 grow" id="study-flashcard">
      {% include "flashcard.html" %}
      <div class="flex gap-4 items-center justify-center flex-wrap">
        {% for topic in card.card.topics %}
        <a
          href="/view?name={{ topic }}"
          hx-target="main"
          hx-select="main"
          hx-swap="outerHTML show:window:top"
          class="btn text-xs"
        >
          {{ topic }}
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="flex gap-4 items-center justify-center">
      <label class="btn flex justify-center gap-2">
        Next
        <span class="material-symbols-outlined">navigate_next</span>
        <input type="submit" hidden />
      </label>
      <label
        hx-on:click="const e = this.closest('form').querySelector('[data-flashcard]'); wordify(e); e.classList.toggle('word-show-only-first-letter', this.querySelector('input').checked)"
        class="flex gap-2 items-center"
      >
        First Letters
        <div class="box-content h-[1em] w-[3ch] flex btn px-2">
          <input type="checkbox" class="hidden peer" id="first-letters" />
          <div
            class="h-[1em] aspect-square bg-purple-50 rounded-sm transition-all peer-checked:ml-[100%] peer-checked:translate-x-[-100%]"
          ></div>
        </div>
      </label>
    </div>
  </form>
</main>
