<main hx-boost="true" class="auto-grid-[25ch] gap-4 p-4" id="view-page">
  <div class="col-span-full grid place-items-center gap-2">
    <h1 class="font-bold text-xl flex flex-row items-center">
      {% for topic in topic.ancestors() %}
      <a
        href="/view?name={{ topic }}"
        hx-target="main"
        hx-select="main"
        hx-swap="outerHTML show:window:top"
        class="hover:underline focus:underline"
      >
        {{ topic.basename() }}
      </a>
      {% if loop.last %} {% if subtopics.len() > 0 %}
      <span class="material-symbols-outlined">chevron_rightmore_horiz</span>
      {% endif %} {% else %}
      <span class="material-symbols-outlined">chevron_right</span>
      {% endif %} {% endfor %}
    </h1>

    <div class="flex flex-row justify-center gap-2 flex-wrap">
      {% if subtopics.len() > 0 %} {% for subtopic in subtopics %}
      <a
        href="/view?name={{ subtopic }}"
        hx-target="main"
        hx-select="main"
        hx-swap="outerHTML show:window:top"
        class="btn text-xs"
      >
        {{ subtopic }}
      </a>
      {% endfor %} {% endif %}
    </div>

    <a
      hx-target="main"
      hx-swap="outerHTML show:window:top"
      href="/study?name={{ topic }}&id=0"
      class="btn flex justify-center gap-4"
    >
      Study
      <span class="material-symbols-outlined">school</span>
    </a>

    <div class="w-full flex flex-row justify-center items-center gap-4">
      {% if page == 0 %}
      <button class="btn flex justify-center opacity-80" disabled>
        <span class="material-symbols-outlined">chevron_left</span>
        Last
      </button>
      {% else %}
      <a
        href="/view?name={{ topic }}&page={{ page - 1 }}"
        hx-target="main"
        hx-select="main"
        hx-swap="outerHTML show:window:top"
        class="btn flex justify-center"
      >
        <span class="material-symbols-outlined">chevron_left</span>
        Last
      </a>
      {% endif %}
      <div class="grid place-items-center">
        <div><b>{{ card_number }}</b> cards</div>
        <div>Page <b>{{ page + 1 }}</b>/<b>{{ max_page + 1 }}</b></div>
      </div>
      {% if page == max_page %}
      <button class="btn flex justify-center opacity-80" disabled>
        Next
        <span class="material-symbols-outlined">chevron_right</span>
      </button>
      {% else %}
      <a
        href="/view?name={{ topic }}&page={{ page + 1 }}"
        hx-target="main"
        hx-select="main"
        hx-swap="outerHTML show:window:top"
        class="btn flex justify-center"
      >
        Next
        <span class="material-symbols-outlined">chevron_right</span>
      </a>
      {% endif %}
    </div>
  </div>
  {% for card in cards %} {% include "flashcard.html" %} {% endfor %}
</main>
