@import "katex/dist/katex.css";
@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :root {
    @apply h-full;
  }

  body {
    @apply min-h-full flex flex-col items-stretch justify-start text-white;
    background: url("./stars.svg"), theme("colors.slate.900");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  * {
    @apply box-border;
  }
}

@layer components {
  :where(.card) {
    @apply rounded-sm bg-slate-800 p-4;
  }

  [data-flashcard]::after {
    content: "";
    @apply opacity-0 transition-[opacity] pointer-events-none inset-0 absolute duration-500;
    background-image: radial-gradient(
      circle at var(--x, 50%) var(--y, 50%),
      theme("colors.purple.100"),
      transparent
    );
  }

  [data-flashcard]:is(:hover, :focus-within)::after {
    @apply opacity-10;
  }

  .tex {
    /* remove edges of pdf_render white background */
    clip-path: inset(1pt);
  }

  .btn-active {
    @apply bg-purple-800;
  }

  .btn-hover {
    @apply bg-purple-400;
  }

  :where(.btn) {
    @apply bg-purple-500 transition-colors rounded-sm text-purple-50 p-2 px-4 font-bold;
  }

  .btn:is(:hover, :focus-within) {
    @apply btn-hover;
  }

  .btn:active {
    @apply btn-active;
  }

  .word {
    display: inline-block;
    transition: color 500ms;
    transition-delay: calc(var(--word-number, 0) * 50ms);
  }

  .word-show-only-first-letter .word {
    color: transparent;
  }

  .word::first-letter {
    color: var(--tw-prose-body, black);
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-from-right {
    from {
      transform: translateX(30px);
    }
  }

  @keyframes slide-to-left {
    to {
      transform: translateX(-30px);
    }
  }

  #nav {
    view-transition-name: nav;
  }

  #view-page {
    view-transition-name: view;
  }

  #search-page {
    view-transition-name: search;
  }

  #study-page {
    view-transition-name: study;
  }

  #study-flashcard {
    view-transition-name: study-flashcard;
  }

  ::view-transition-old(view):only-child,
  ::view-transition-old(study):only-child,
  ::view-transition-old(search):only-child,
  ::view-transition-old(study-flashcard):only-child {
    animation: 0.15s ease-in-out both fade-out;
  }

  ::view-transition-new(view):only-child,
  ::view-transition-new(study):only-child,
  ::view-transition-new(search):only-child,
  ::view-transition-new(study-flashcard):only-child {
    animation: 0.15s ease-in-out 0.12s both fade-in;
  }

  ::view-transition-old(study-flashcard) {
    animation:
      0.15s linear both fade-out,
      0.15s linear both slide-to-left;
  }

  ::view-transition-new(study-flashcard) {
    animation:
      0.15s linear 0.12s both fade-in,
      0.15s linear 0.12s both slide-from-right;
  }

  dialog[open]::backdrop {
    @apply bg-black/25;
  }

  dialog[open] {
    position: fixed;
    inset: 0;
    margin: auto;
  }

  dialog:not([open]) {
    @apply hidden;
  }
}
